.titolo {
    font-size: 30px;
    font-weight: bold;

}

.accountsDetails-btn {
    padding: 10px;
    margin-top: 5px;
    color: white;
    font-weight: bold;
    background-color: #6cd45d;
    border-color: #6cd45d;
}

.box-accounts {
    border-radius: 25px;
    margin: 50px;
}

#bottone-crea {
    background-color: #6cd45d;
    border-color: #6cd45d;
    color: white;
    margin-bottom: 20px;
}