body {
    width: 70%;
    background-color: #37A63E;
    /* background-color: #6cd45d; */
    margin: auto;
    font-family: "Comfortaa", sans-serif;

}

#innnerContent {
    background-color: #E9F2EF;
    /* background-color: white; */
    border-radius: 20px;
    padding: 20px;
}

.footer {
    background-color: #E9F2EF;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 60px;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid #6cd45d;
}

.navWord {
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 100px;
}

/* .navWord:hover {
    background-color: #6cd45d;  
} */
.navbar {
    background-color: white;
    border-radius: 150px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 130px;
    border: 2px solid #6cd45d;
    /* padding:  0 10px; */
}
