body {
    padding-top: 20px;
    padding-right: 250px;
    padding-left: 250px;
    background-color: #6cd45d;
}

.footer {
    background-color: #f8f9fa;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

.navWord {
    margin-left: 50px;
    font-weight: bold;
    font-size: 25px;

}

#innnerContent {
    background-color: #ffffe6;
    border-radius: 15px;
    padding: 10px;
}


.custom-control-label::before, .custom-control-label::after {
    top: .8rem;
    width: 1.5rem;
    height: 1.5rem;

    font-size: 1.5em;
}
.custom-control-label::before {
    box-shadow: 0 0 0 1px #adb5bd, 0 0 0 1px #adb5bd;
    font-size: 1.5em;
}
.custom-control-input:checked ~ .custom-control-label::after {
    background-color: #28a745;
    border-color: #28a745;
}
.custom-control-label {
    margin-bottom: 0;
}
/* Aggiustamenti per l'allineamento verticale del testo con il checkbox ingrandito */
.custom-control {
    padding-left: 2rem;
}