.griglia {
    /* padding: 20px; */
    /* width: 80%; */
    margin: auto;
    border: 1px solid #6cd45d;
    border-radius: 30px;
    background-color: #E9F2EF;
}

.scrollable-table {
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    border: none;
}

.creaButton {

    color: black;
    border: 2px solid #6cd45d;
    background-color: #E9F2EF;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    height: 60%;
    border-radius: 100px;

}

.creaButton:hover {
    background-color: #6cd45d;
    border-color: black 20px;
}

.contenitore-debito {
    padding-top: 50px;
    padding-bottom: 50px;
    border: none;
}


.contenitore-credito {
    padding-top: 50px;
    padding-bottom: 50px;
    border: none;
}