#tot {
    font-size: 23px;
    font: bold;
    padding: 20px;
    text-align: center;
    margin: 50px;
}

.centered-cell {
    text-align: center;
    padding: 8px;
    border: 1px #E9F2EF;
}

.account-bordo {
    border-radius: 100px;
    border: 2px solid #E9F2EF;
}

.account-bordo:hover {
    background-color: #6cd45d;
    border-color: black 20px;
}

.box-accounts {
    border-radius: 60px;
    /* background-color: #ffffe6; */
}

.box-statistics {
    border-radius: 20px;
    border: 2px solid #6cd45d;

}


#start_date {
    width: 60%;

}

#end_date {
    width: 60%;
}

#start_date:hover {
    border: 2px solid #6cd45d;


}

#end_date:hover {
    border: 2px solid #6cd45d;

}

#btn-visualizza {
    border: 2px solid #6cd45d;
    background-color: #E9F2EF;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;

}

#btn-visualizza:hover {
    background-color: #6cd45d;
    border-color: black 20px;
}

.scrollable-table {
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    margin-top: 0;
    font-size: 12px;

}

.tabellaTransa {
    width: auto;
    border-collapse: collapse;
}


.centered-cell {
    text-align: center;
    white-space: nowrap;
    font-size: 14px;


}