#newTransaction {
    margin-left: 100px;
    padding: 20px;
    border: 4px solid #6cd45d;
    background-color: white;

    /* margin-bottom: 20px; */
    border-radius: 20px;
}

#template-box {
    background-color: white;
    border: 4px solid #6cd45d;
    color: black ;
    text-align: center;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
}

.brown {
    background-color: brown;
}

#ripTempl {
    border: 4px solid #6cd45d;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}


#button-newTransaction {
    background-color: #6cd45d;
    border-color: #6cd45d;
    color: white;
    margin-top: 50px;
    width: auto;
    padding: 20px;
    font: bolder;
    font-size: x-large;
    display: block;
}

.box-template{
    font-size: 30px;
}

#template-box:hover {
    background-color: #6cd45d;
    border-color: black 20px;
}